.navbar li {
  list-style: none;
  /* text-decoration: none; */
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  /* display: flex;
  flex-direction: column; */
  background-color: blueviolet;
  width: 20%;
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  /* width: 98%; */
}

.content {
  display: flex;
  flex-direction: column;
  width: 77%;
  margin-left: 3%;
}

/* .para2 {
  display: flex;
  flex-direction: row;
} */
.p1 {
  background-color: whitesmoke;
  margin: 0 0;
}